@import "../../sass/mixins";

.top-nav {
    display: flex;
    align-items: center;
    height: 55px;
    z-index: 999;
    width: 100%;
    background-color: black;
    mix-blend-mode: normal;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
    font-family: 'Poppins', sans-serif;

    .btn-login {
        background: #e0e1db;
        border-radius: 7px;
        padding: 2px 10px;
        margin: 0 3px;
        color: black;
        border: 0px;
    }

    .btn-register {
        @extend .btn-login;
        background: #2192FF;
        color: white;
    }

    .menu-nav {
        z-index: 999;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        top: 55px;
        left: -110%;
        height: 100%;
        width: 100%;
        max-width: 550px;
        transition: all 0.3s;
        background-color: black;
        padding: 0px 20px 0px 20px;

        @include media-up(992px) {
            position: static;
            flex-direction: row;
            justify-content: center;
            background-color: transparent;
            padding: 0px;
        }

        a {
            color: #ffffff;
        }

        a:hover {
            color: #2192FF;
        }
    }
}

.menu-nav-active {
    margin-left: 110%;
}

.hamburger {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 999;

    &:hover {
        opacity: 0.7;
    }

    &.is-active {
        &:hover {
            opacity: 0.7;
        }

        .hamburger-inner {
            background-color: #ffffff;

            &::before,
            &::after {
                background-color: #ffffff;
            }
        }
    }
}

.hamburger-box {
    width: 19px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 30%;
    margin-top: 7px;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    &::before,
    &::after {
        width: 22px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 1px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: -6px;
    }

    &::after {
        bottom: -6px;
    }
}

.hamburger--squeeze {
    .hamburger-inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }

        &::after {
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.is-active .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
            top: 0;
            opacity: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }

        &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}